.container {
  background-color: inherit;
  padding: 0px 20px;

  .titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    .title {
      font-size: 2.5rem;
      margin: 0px;
      text-transform: uppercase;
      margin-top: 20px;
    }
  }

  .tabOurLoveStory {
    margin-top: 50px;

    .listWrapper {
      list-style-type: none;
      display: flex;
      justify-content: center;
      gap: 20px;
      margin: 0px;
      padding: 0px;

      .love {
        font-size: 1.8rem;
        font-weight: bold;
        letter-spacing: 0.5px;
        cursor: pointer;
        text-align: center;
      }

      .active {
        color: #a5dc86c2;
      }
    }

    .contentWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      position: relative;

      @media only screen and (max-width: 991px) {
        flex-direction: column;
      }

      .backgroundImg {
        border-radius: 10px;
        position: relative;

        @media only screen and (max-width: 1180px) {
          width: 450px;
          height: 415px;
        }

        @media only screen and (max-width: 991px) {
          width: 512px;
          height: 330px;
        }

        @media only screen and (max-width: 559px) {
          width: 100%;
          height: 330px;
        }
      
        .overImg {
          background-color: rgb(0 0 0 / 10%);
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 1;
        }

        span {
          height: 100% !important;

          img {
            object-fit: cover;
            
            &:hover {
              background-size: 110%;
            }
          }
        }

        &:before {
          position: absolute;
          left: 3%;
          top: 4%;
          width: 94%;
          height: 92%;
          content: "";
          border: 1px solid #fff;
          z-index: 11;
        }
      }

      .wrapperContent {
        padding: 60px 85px 25px 40px;
        box-shadow: 0px 0px 6.1px 3.9px rgb(28 31 86 / 6%);

        @media only screen and (max-width: 1280px) {
          padding: 50px 60px 50px 3px;
        }
        
        @media only screen and (max-width: 1180px) {
          padding: 60px 60px 50px 50px;
        }
        
        @media only screen and (max-width: 559px) {
          padding: 60px 60px 50px 20px;
          width: 100%;
        }

        .content {
          position: relative;
          border-top: 1px solid #d1c3c5;
          border-right: 1px solid #d1c3c5;
          padding: 20px 60px 0px 40px;

          @media only screen and (max-width: 1180px) {
            padding: 60px 0px 0px 50px;
          }

          @media only screen and (max-width: 559px) {
            padding: 60px 0px 0px 20px;
          }

          .borderShape {
            position: absolute;
            right: -40px;
            top: -40px;
          }

          .date {
            color: #a5dc86c2;
            font-size: 1.5rem;
            font-weight: bold;
          }

          p {
            color: #7b7b7b;
            font-size: 1.3rem;
            font-weight: bold;
            line-height: 2rem;
            width: 426px;
            height: 55px;
            margin: 20px 0px;

            @media only screen and (max-width: 1180px) {
              width: 349px;
            }

            @media only screen and (max-width: 559px) {
              width: 100%;
            }
          }

          h1 {
            font-size: 2.3rem;
          }
        }
      }
    }
  }
}
